<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Industries</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- header  -->
    <header>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg ">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#">
                        <img src="../images/logo.png" alt="TVM">
                      </a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTvm" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarTvm">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="why-choose-us.html">Why choose us</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="industries.html">Industries</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="works.html">works</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="our-team.html">Our team</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="lang.html">eng/vn</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ./header  -->
    <section id="industries">
      <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sx-12 ">
                <div class="item">
                    <h1>INDUSTRIES</h1>
                    <p>
                        Unlock new value, build trust and bring transparency across industries and businesses with the power of Blockchain.
                    </p>
                    <a href="" class="btn btn-tvm">Contact Us</a>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="item">
                    <img src="../images/ind-1.jpg" alt="ind-1">
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sx-12 ">
              <div class="item">
                  <h5>our industries</h5>
                  <h3>Consumer electronics</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.
                  </p>
                  <a href="" class="btn btn-tvm">LEARN MORE</a>
              </div>
          </div>
          <div class="col-sm-6 col-xs-12 right">
              <div class="item">
                  <img src="../images/ind-2.jpg" alt="ind-2">
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sx-12 ">
              <div class="item">
                  <h5>our industries</h5>
                  <h3>Fintech</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.
                  </p>
                  <a href="" class="btn btn-tvm">LEARN MORE</a>
              </div>
          </div>
          <div class="col-sm-6 col-xs-12 ">
              <div class="item">
                  <img src="../images/ind-3.jpg" alt="ind-3">
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sx-12">
              <div class="item">
                  <h5>our industries</h5>
                  <h3>Healthcare</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.
                  </p>
                  <a href="" class="btn btn-tvm">LEARN MORE</a>
              </div>
          </div>
          <div class="col-sm-6 col-xs-12">
              <div class="item">
                  <img src="../images/ind-4.jpg" alt="ind-4">
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sx-12">
              <div class="item">
                  <h5>our industries</h5>
                  <h3>Insurance</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.
                  </p>
                  <a href="" class="btn btn-tvm">LEARN MORE</a>
              </div>
          </div>
          <div class="col-sm-6 col-xs-12">
              <div class="item">
                  <img src="../images/ind-5.jpg" alt="ind-5">
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sx-12">
              <div class="item">
                  <h5>our industries</h5>
                  <h3>Logistics</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.
                  </p>
                  <a href="" class="btn btn-tvm">LEARN MORE</a>
              </div>
          </div>
          <div class="col-sm-6 col-xs-12">
              <div class="item">
                  <img src="../images/ind-6.jpg" alt="ind-6">
              </div>
          </div>
        </div>
      <div class="row">
        <div class="col-sm-6 col-sx-12">
            <div class="item">
                <h5>our industries</h5>
                <h3>Manufacturing</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.
                </p>
                <a href="" class="btn btn-tvm">LEARN MORE</a>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="item">
                <img src="../images/ind-7.jpg" alt="ind-7">
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sx-12">
            <div class="item">
                <h5>our industries</h5>
                <h3>Travel</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.
                </p>
                <a href="" class="btn btn-tvm">LEARN MORE</a>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="item">
                <img src="../images/ind-8.jpg" alt="ind-8">
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sx-12">
            <div class="item">
                <h5>our industries</h5>
                <h3>Start Up</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.
                </p>
                <a href="" class="btn btn-tvm">LEARN MORE</a>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="item">
                <img src="../images/ind-9.jpg" alt="ind-9">
            </div>
        </div>
      </div>
    </div>
  </div>
    </section>



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <div class="logo">
                        <img src="../images/logo.png" alt="TVM">
                    </div>
                </div>
                <div class="col-8">
                    <nav class="navbar navbar-expand-lg ">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="why-choose-us.html">Why choose us</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="industries.html">Industries</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="works.html">works</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="our-team.html">Our team</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="lang.html">eng/vn</a>
                            </li>
                          </ul>
                    </nav>
                </div>
                <div class="col-3">
                    <div class="contact">
                        <a href="tel:0978611889">0978 611 889</a> 
                        <a href="https://www.linkedin.com/in/chungtrinhj/">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a href="https://twitter.com/hna_tvchung">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </footer>

    <!-- nhúng jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- js bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    
    <script src="../js/tvm.js"></script>
    <script>
        $(document).ready(function(){
            console.log("reading....")
        });
    </script>

</body>
</html>