* {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  list-style: none;
}
html,
body {
  font-family: "tahoma";
  font-size: 16px;
}
.container {
  margin: 1rem auto;
  width: 1444px;
  /* border: 1px solid red; */
}
/* header */
header .logo {
  width: 158px;
  padding: 1rem 0;
}
.logo img {
  width: 100%;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lang {
  width: 110px;
  text-align: right;
}
nav {
  width: calc(100% - 268px);
}
header nav ul {
  display: flex;
  justify-content: flex-end;
}
header a {
  font-size: 1.5rem;
  text-transform: uppercase;
}
nav a {
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
}

/* footer  */
footer .logo {
  width: 90px;
}
.row-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer nav ul {
  display: flex;
}
footer a {
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* industries */
.row {
  display: flex;
  justify-content: space-between;
  margin: 5.75rem 0;
  gap: 4rem;
}
.col {
  width: 50%;
}
.row:nth-child(2n) {
  flex-flow: row-reverse;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #281d52;
  margin-top: 1rem;
}
p {
  font-size: 1.75rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.75rem;
  position: relative;
  display: inline-block;
  padding: 1rem 0;
}
h3::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 0.5rem;
  background-color: #281d52;
  top: 0;
}
.row:nth-child(2n + 1) .content {
  text-align: right;
  /* padding-right: 3rem; */
}
.row:nth-child(2n + 1) .content h3::before {
  right: 0;
}
.row:first-child .content {
  text-align: left;
}
.row:first-child p {
  border-left: 5px solid #281d52;
  line-height: 1.5;
  padding-left: 2rem;
  padding-right: 3rem;
  margin: 3rem 0;
}
h2 {
  font-size: 2.25rem;
  color: #281d52;
  padding: 1rem 0;
}
.content a {
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: #281d52;
  color: #fff;
  margin-top: 1rem;
  font-size: 1.75rem;
  text-transform: uppercase;
  text-decoration: none;
}

.img {
  width: 100%;
}
.img img {
  width: 100%;
}

/* responsive */
@media (max-width: 575.98px) {
  html,
  body {
    font-size: 12px;
  }
  .container {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
  .row {
    padding:  1rem;
    margin: 0;
    flex-wrap: wrap !important;
  }

  .col {
    width: 100%;
  }
  .head {
    padding: 1rem;
  }

  .menu-icon {
    width: 30px;
    height: 30px;
  }
  .menu-icon > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }
  .menu-icon span {
    width: 100%;
    height: 5px;
    background-color: #281d52;
  }

  header .logo {
    width: 75px;
    padding: 1rem 0;
  }
  header nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;
    padding-right: 1rem;
    position: relative;
  }
  header nav ul {
    display: none;
    position: absolute;
    z-index: 2;
    top: 2.5rem;
    background-color: #ccc;
    width: 100%;
  }
  header nav ul li{
    border-bottom: 1px solid #ddd;
    line-height: 30px;
  }
  .lang {
    width: 50px;
  }
  .lang a {
    font-size: 1rem;
  }
  .menu-icon > div {
    position: relative;
  }

  .menu-icon:hover span:nth-child(2) {
    display: none;
  }
  .menu-icon:hover span:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
  }
  .menu-icon:hover span:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
  }
  .menu-icon:hover ~ ul {
    display: block !important;
    /* position: absolute; */
  }
  .row-footer .logo {
    order: 1;
    width: 5rem;
    padding: 1rem;
  }
  .row-footer nav {
    order: 3;
    width: 100%;
  }
  .row-footer .social {
    order: 2;
    width: calc(100% - 7rem);
  }
  .row-footer {
    flex-wrap: wrap;
  }
  .row-footer nav ul {
    flex-wrap: wrap;
  }
}
