<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhúng jquery vào html và sử dụng</title>
</head>
<body>
    <section id="zone1">
        <h1>Nhúng jquery vào html và sử dụng</h1>
        <hr/>
    </section>

    <!-- Nhúng thư viện jquery -->
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script>
        // code sử dụng jquery
        $(document).ready(function(){
            console.log("hello jquery");
            
        });
    </script>
</body>
</html>