<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album....</title>
    <style>
        #main{
            margin: 1rem auto;
            width: 800px;
            border: 1px solid #ccc;
        }
        .thumbnail-big img{
            width: 100%;
            max-height: 450px;
        }
        .thumbnail-small{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .thumbnail-small img{
            width: 10%;
        }
        .border-img{
            border: 2px solid red;
        }
    </style>
</head>
<body>
    <section id="main">
        <div class="thumbnail-big">
            <img src="../images/001.jpg" alt="001">
        </div>
        <div class="thumbnail-small">
            <img src="../images/001.jpg" alt="001">
            <img src="../images/002.jpg" alt="001">
            <img src="../images/003.jpg" alt="001">
            <img src="../images/004.jpg" alt="001">
            <img src="../images/005.jpg" alt="001">
            <img src="../images/006.jpg" alt="001">
            <img src="../images/007.jpg" alt="001">
            <img src="../images/008.jpg" alt="001">
            <img src="../images/009.jpg" alt="001">
        </div>
    </section>
    <!-- nhung thư viện jquery từ server google -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            
            $(".thumbnail-small img").click(function(){
                debugger;
                let imgSrc = $(this).attr("src");
                $('.thumbnail-big img').attr("src",imgSrc);

                // $(".thumbnail-small img").each(function(){
                //     $(this).removeClass("border-img");
                // })
                
                $(".thumbnail-small img").removeClass("border-img");
                $(this).addClass("border-img");
            })
        })
    </script>
</body>
</html>