*{
    margin: 0;
    padding: 0;
}
nav{
    margin: 5rem;
    background-color: #ccc;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li{
    /* border-right: 1px solid red; */
    /* padding: .25rem 0rem; */
}
nav ul li:last-child a{
    border-right: 0px
    /* padding: .25rem 0rem; */
}
nav ul li a{
    /* background-color: green; */
    border-right: 1px solid red;
    display: block;
    padding:.5rem 1rem;
    text-decoration: none;
    color: #484848;
}
nav ul li a:hover{
    background-color:green ;
    color: #fff;
}