*{
    margin: 0;
    padding: 0;
}
nav{
    margin: 1rem;
    width: 200px;
    border: 2px solid #000;
}
nav .danh-muc{
    border-bottom: 2px solid #000;
}
nav .danh-muc span{
    width: 20px;
    height: 3px;
    display: block;
    background-color: red;
}
.danh-muc {
    display: flex;
    padding: .5rem;
}
.danh-muc h3{
    padding-left: .5rem;
}
.danh-muc >div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem;
    border-bottom: 1px solid red;
}
nav ul li img{
    width: 25px;
    height: 25px;
}
nav ul li span{
    width: 25px;
    /* height: 25px; */
    color: #fff;
    /* border: 1px solid ; */
    text-align: center;
    /* vertical-align: middle; */
    /* display: none; */
    opacity: 0;
}
nav ul li a{
    width: calc(100% - 50px);
    display: block;
    /* border: 1px solid red; */
    padding-left: .5rem;
    text-decoration: none;
    color: #000;
}
nav ul li:hover{
    background-color: red;
}
nav ul li:hover span{
    opacity: 1;
}
nav ul li:hover a{
    color: #fff;
}
nav ul li:hover img{
    filter:invert() brightness(8)
}