<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Font-face</title>
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <h1>Devmaster Academy</h1>
    </header>
    <section>
        <h2>Viện Công nghệ và đào tạo Devmaster</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. A voluptatem iste, cumque quae quibusdam voluptatibus architecto cum sint temporibus officiis explicabo recusandae incidunt provident perferendis suscipit velit iusto minus consequuntur!
        </p>
    </section>
    <section id="product">
        <h2>Sản phẩm nổi bật</h2>
        <div>
            <h3>Mơi nhất</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. A voluptatem iste, cumque quae quibusdam voluptatibus architecto cum sint temporibus officiis explicabo recusandae incidunt provident perferendis suscipit velit iusto minus consequuntur!
            </p>
        </div>
        <div>
            <h3>Bán chạy nhất</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. A voluptatem iste, cumque quae quibusdam voluptatibus architecto cum sint temporibus officiis explicabo recusandae incidunt provident perferendis suscipit velit iusto minus consequuntur!
            </p>
            <span>
                Chi tiết:
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. A voluptatem iste, cumque quae quibusdam voluptatibus architecto cum sint temporibus officiis explicabo recusandae incidunt provident perferendis suscipit velit iusto minus consequuntur!
            </span>
        </div>
    </section>
</body>
</html>