*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body{
    font-size: 16px;
}
nav a{
    text-decoration: none;
    color: #000;
    display: block;
    padding: .5rem;
}
nav {
    background-color: #ccc;
}

nav ul li{
    border-bottom: 1px solid #fff;
    transition: height 2s;
    background-color: red;
    height: 0px;
}
.icon-menu{
    width: 50px;
    height: 50px;
    background-color: green;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* gap: .25rem; */
}
nav >div {
    width: 100%;
    background-color: purple;
    display: flex;
    justify-content: flex-end;
}
.icon-menu span{
    width: 100%;
    height: 5px;
    background-color: #fff;
    display: block;
    /* position: absolute; */
}
.icon-menu:hover{
    cursor: pointer;
}
.icon-menu:hover span{
    cursor: pointer;
    background-color: red;
}
.icon-menu:hover span:nth-child(2){
    display: none;
}
.icon-menu:hover span:nth-child(1){
    transform: rotate(45deg);
    position: absolute;
}
.icon-menu:hover span:nth-child(3){
    transform: rotate(-45deg);
    position: absolute;
}
nav ul {
    display: none;
}
nav > div:hover  + ul {
    display: block;
}
nav > div:hover  + ul li {
    display: block;
    height: 100%;
}