<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive - Thumbnail - max-width</title>
    <link rel="stylesheet" href="../css/ex5.css">
</head>
<body>
    <section id="product">
        <div class="container">
            <div class="row">
                <div>
                    <h2>PHÒNG KHÁCH</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/001.jpg" alt="001">
                            <div class="icon-btn">
                                <a href="">
                                    <button>
                                        xem
                                    </button>
                                </a>
                                <button>
                                    tim
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <h4>Item 1</h4>
                            <p>9.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/002.jpg" alt="001">
                            <div class="icon-btn">
                                <a href="">
                                    <button>
                                        xem
                                    </button>
                                </a>
                                <button>
                                    tim
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <h4>Item 2</h4>
                            <p>9.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/003.jpg" alt="003">
                            <div class="icon-btn">
                                <a href="">
                                    <button>
                                        xem
                                    </button>
                                </a>
                                <button>
                                    tim
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <h4>Item 3</h4>
                            <p>9.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/004.jpg" alt="004">
                            <div class="icon-btn">
                                <a href="">
                                    <button>
                                        xem
                                    </button>
                                </a>
                                <button>
                                    tim
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <h4>Item 4</h4>
                            <p>9.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/005.jpg" alt="005">
                            <div class="icon-btn">
                                <a href="">
                                    <button>
                                        xem
                                    </button>
                                </a>
                                <button>
                                    tim
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <h4>Item 5</h4>
                            <p>9.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/006.jpg" alt="006">
                            <div class="icon-btn">
                                <a href="">
                                    <button>
                                        xem
                                    </button>
                                </a>
                                <button>
                                    tim
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <h4>Item 5</h4>
                            <p>9.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/007.jpg" alt="007">
                            <div class="icon-btn">
                                <a href="">
                                    <button>
                                        xem
                                    </button>
                                </a>
                                <button>
                                    tim
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <h4>Item 5</h4>
                            <p>9.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/008.jpg" alt="008">
                            <div class="icon-btn">
                                <a href="">
                                    <button>
                                        xem
                                    </button>
                                </a>
                                <button>
                                    tim
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <h4>Item 8</h4>
                            <p>9.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/009.jpg" alt="009">
                            <div class="icon-btn">
                                <a href="">
                                    <button>
                                        xem
                                    </button>
                                </a>
                                <button>
                                    tim
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <h4>Item 9</h4>
                            <p>9.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/010.jpg" alt="010">
                            <div class="icon-btn">
                                <a href="">
                                    <button>
                                        xem
                                    </button>
                                </a>
                                <button>
                                    tim
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <h4>Item 10</h4>
                            <p>9.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>