<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Industries</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="head">
                <div class="logo">
                    <img src="../images/logo.png" alt="TVM">
                </div>
                <nav>
                    <div class="menu-icon">
                        <div>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <ul>
                        <li><a href="">why choose us</a></li>
                        <li><a href="">industries</a></li>
                        <li><a href="">works</a></li>
                        <li><a href="">out team</a></li>
                        <li><a href="">contact</a></li>
                    </ul>
                </nav>
                <div class="lang">
                    <a href="">END/VN</a>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <!-- phần nội dung text  -->
                <div class="col">
                    <div class="content">
                        <h1>Industries</h1>
                        <p>
                            Unlock new value, build trust and bring transparency across industries and businesses with the power of Blockchain.
                        </p>
                        <a href="">Contact Us</a>
                    </div>
                </div>
                <!-- Phần hình ảnh  -->
                <div class="col">
                    <div class="img">
                        <img src="../images/Industries/Industries-1.png" alt="Industries-1">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- phần nội dung text  -->
                <div class="col">
                    <div class="content">
                        <h3>our industries</h3>
                        <h2>Consumer electronics</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quam doloribus, ab sapiente nobis consectetur ipsam debitis inventore esse veritatis animi quaerat minima officiis architecto repudiandae ducimus id! Illum, rerum!
                        </p>
                        <a href="">LEARN MORE</a>
                    </div>
                </div>
                <!-- Phần hình ảnh  -->
                <div class="col">
                    <div class="img">
                        <img src="../images/Industries/Industries-2.png" alt="Industries-2">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- phần nội dung text  -->
                <div class="col">
                    <div class="content">
                        <h3>our industries</h3>
                        <h2>Fintech</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quam doloribus, ab sapiente nobis consectetur ipsam debitis inventore esse veritatis animi quaerat minima officiis architecto repudiandae ducimus id! Illum, rerum!
                        </p>
                        <a href="">LEARN MORE</a>
                    </div>
                </div>
                <!-- Phần hình ảnh  -->
                <div class="col">
                    <div class="img">
                        <img src="../images/Industries/Industries-3.png" alt="Industries-3">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- phần nội dung text  -->
                <div class="col">
                    <div class="content">
                        <h3>our industries</h3>
                        <h2>Healthcare</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quam doloribus, ab sapiente nobis consectetur ipsam debitis inventore esse veritatis animi quaerat minima officiis architecto repudiandae ducimus id! Illum, rerum!
                        </p>
                        <a href="">LEARN MORE</a>
                    </div>
                </div>
                <!-- Phần hình ảnh  -->
                <div class="col">
                    <div class="img">
                        <img src="../images/Industries/Industries-4.png" alt="Industries-4">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- phần nội dung text  -->
                <div class="col">
                    <div class="content">
                        <h3>our industries</h3>
                        <h2>Insurance</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quam doloribus, ab sapiente nobis consectetur ipsam debitis inventore esse veritatis animi quaerat minima officiis architecto repudiandae ducimus id! Illum, rerum!
                        </p>
                        <a href="">LEARN MORE</a>
                    </div>
                </div>
                <!-- Phần hình ảnh  -->
                <div class="col">
                    <div class="img">
                        <img src="../images/Industries/Industries-5.png" alt="Industries-5">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- phần nội dung text  -->
                <div class="col">
                    <div class="content">
                        <h3>our industries</h3>
                        <h2>Logistics</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quam doloribus, ab sapiente nobis consectetur ipsam debitis inventore esse veritatis animi quaerat minima officiis architecto repudiandae ducimus id! Illum, rerum!
                        </p>
                        <a href="">LEARN MORE</a>
                    </div>
                </div>
                <!-- Phần hình ảnh  -->
                <div class="col">
                    <div class="img">
                        <img src="../images/Industries/Industries-6.png" alt="Industries-6">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- phần nội dung text  -->
                <div class="col">
                    <div class="content">
                        <h3>our industries</h3>
                        <h2>Manufacturing</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quam doloribus, ab sapiente nobis consectetur ipsam debitis inventore esse veritatis animi quaerat minima officiis architecto repudiandae ducimus id! Illum, rerum!
                        </p>
                        <a href="">LEARN MORE</a>
                    </div>
                </div>
                <!-- Phần hình ảnh  -->
                <div class="col">
                    <div class="img">
                        <img src="../images/Industries/Industries-7.png" alt="Industries-7">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- phần nội dung text  -->
                <div class="col">
                    <div class="content">
                        <h3>our industries</h3>
                        <h2>Travel</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quam doloribus, ab sapiente nobis consectetur ipsam debitis inventore esse veritatis animi quaerat minima officiis architecto repudiandae ducimus id! Illum, rerum!
                        </p>
                        <a href="">LEARN MORE</a>
                    </div>
                </div>
                <!-- Phần hình ảnh  -->
                <div class="col">
                    <div class="img">
                        <img src="../images/Industries/Industries-8.png" alt="Industries-8">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- phần nội dung text  -->
                <div class="col">
                    <div class="content">
                        <h3>our industries</h3>
                        <h2>Startup</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quam doloribus, ab sapiente nobis consectetur ipsam debitis inventore esse veritatis animi quaerat minima officiis architecto repudiandae ducimus id! Illum, rerum!
                        </p>
                        <a href="">LEARN MORE</a>
                    </div>
                </div>
                <!-- Phần hình ảnh  -->
                <div class="col">
                    <div class="img">
                        <img src="../images/Industries/Industries-9.png" alt="Industries-9">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row-footer">
                <div class="logo">
                    <img src="../images/logo.png" alt="TVM">
                </div>
                <nav>
                    <ul>
                        <li><a href="">why choose us</a></li>
                        <li><a href="">industries</a></li>
                        <li><a href="">works</a></li>
                        <li><a href="">out team</a></li>
                        <li><a href="">contact</a></li>
                    </ul>
                </nav>
                <div class="social">
                    <a href="tel: 0978611889" title="0978 611 889">
                        0978611889
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>